{{>layout/header}}
<div class="p-2 fw-light">
    <span>검색결과 {{count}}개</span>
</div>
<div id="post_list">
    <table id="table" class="table table-horizontal">
        <thead id="thead">
        <tr>
            <th>번호</th>
            <th class="col-md-5">제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#post}}
            <tr class="bd-highlight">
                <td>{{id}}</td>
                <td class="col-5 text-truncate"><a href="/post/read/{{id}}" style="text-decoration: none">{{title}}</a></td>
                <td>{{writer}}</td>
                <td>{{timeStamp}}</td>
            </tr>
        {{/post}}
        </tbody>
    </table>
    <div>
        <a href="/" role="button" class="btn btn-outline-primary bi bi-arrow-return-left"> 목록</a>
    </div>
</div>
{{>layout/footer}}