{{>layout/header}}
<br/>
<div id="post_list">
    <table id="table" class="table table-horizontal">
        <thead id="thead">
        <tr class="text-center">
            <th>번호</th>
            <th class="col-5">제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#post}}
            <tr class="bd-highlight">
                <td class="text-center">{{id}}</td>
                <td>
                    <a href="/post/read/{{id}}" id="title">{{title}}<span class="text-primary d-inline-block" >&nbsp;{{commentsCount}}</span></a>
                    <span class="bi bi-hand-thumbs-up" style="font-size: small">{{heartsCount}}</span>
                    <span class="bi bi-eye" style="font-size: small">{{view}}</span>
                </td>
                <td class="text-center">{{writer}}</td>
                <td class="text-center">{{timeStamp}}</td>
            </tr>
        {{/post}}
        </tbody>
    </table>
    <div class="text-end ">
        <a href="/post/write" role="button" class="btn btn-primary bi bi-pencil-fill"> 글쓰기</a>
    </div>
</div>
{{>layout/footer}}